body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:antiquewhite;
}

.header {
    font-size: 28px;
    margin-top: 15px;
}

.select-options {
    display: flex;
    gap: 25px;
}

.custom-delimiter-textbox {
    width: 50px;
}

.list-input, .list-output{
    width: 650px;
    height: 400px;
}

.input-output {
    display: flex;
}

.output-container, .input-container {
    text-align: center;
}